@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

* {
  font-family: "Tangerine", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --x: 50deg;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(12, 1, 44);
  background-size: cover;
  overflow: hidden;
}

/* BUTTON */
z {
  position: relative;
  width: 250px;
  height: 100px;
  border-radius: 8px;
  display: inline-block;
}
z i {
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 8px;
}
z i,
z i:nth-child(2) {
  background: linear-gradient(
    var(--x),
    rgb(236, 119, 10),
    rgb(1, 1, 53),
    rgba(1, 1, 53),
    #ef4ae4
  );
}
z i:nth-child(2) {
  filter: blur(15px);
}
z span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: aliceblue;
  letter-spacing: 3px;
  border: 1px solid black;
  border-radius: 7px;
  background: rgb(0, 0, 15);
  z-index: 1;
  overflow: hidden;
  font-family: Orbitron;
}
z span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgb(0, 4, 2);
  z-index: -2;
  transform: skew(150deg);
}
/* HUJAN */
b {
  position: absolute;
  top: -1px;
  height: 200px;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: hujan 5s linear infinite;
}
b:nth-child(3n + 1) {
  background: linear-gradient(transparent, #0ff);
}
b:nth-child(3n + 2) {
  background: linear-gradient(transparent, rgb(153, 0, 255));
}
b:nth-child(3n + 3) {
  background: linear-gradient(transparent, #f00);
}
@keyframes hujan {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}

/* BACKGROUND2 */
section {
  width: 1535px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#210251, #160303);
}
section h2 {
  position: relative;
  background: linear-gradient(90deg, red, yellow, green, blue, purple, red);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
  text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top: -260px;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: rgb 4s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/*bg kotak id*/
.box {
  position: absolute;
  top: 35px;
  width: 1300px;
  height: 630px;
  background: rgba(0, 0, 0, 0.844);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 60px rgba(230, 12, 12, 0.6);
}
.box::after {
  content: "";
  position: absolute;
  width: 2000px;
  height: 1800px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #016f06
  );
  animation: muter 4s linear infinite;
}
.box::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 1800px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #860505
  );
  animation: muter 4s linear infinite;
  animation-delay: -2s;
}
@keyframes muter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box span {
  position: absolute;
  inset: 10px;
  border-radius: 16px;
  border-color: #f00;
  background: #0c1022;
  z-index: 1;
}

/* IDENTITAS */
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  flex-wrap: wrap;
}
.container .box1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 420px;
  background: var(--crl);
  box-shadow: 0 0 0 15px #0009, 0 25px 55px var(--crl);
  z-index: 2;
  margin-top: -670px;

  background-image: url("kakasih.jpg");
  background-size: cover;
  background-position: center;
}
.container .box1 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box1 .info p {
  position: relative;
  color: #000000;
  font-size: 15px;
  text-align: center;
  line-height: 2.5em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  filter: blur(10px);
  font-family: Gloria Hallelujah;
  line-height: 4.9em;
}
.container .box1:hover .info p {
  transform: scale(1);
  transition-delay: 0.5s;
  filter: blur(0px);
}
.container .box1 .clip {
  position: absolute;
  inset: 20px;
  box-shadow: 0 0 0 18px #020d1e;
}
.container .box1 .clip span {
  position: absolute;
  inset: 0;
  background: #020d1e;
  transition: 0.25s;
}
.container .box1 .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 40%, 100% 0);
  transition-delay: 0s;
}
.container .box1:hover .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 100% 0);
}
.container .box1 .clip span:nth-child(2) {
  clip-path: polygon(0 0, 40% 50%, 50% 100%, 0% 100%);
  transition-delay: 0.25s;
}
.container .box1:hover .clip span:nth-child(2) {
  clip-path: polygon(0 0, 0 100%, 50% 100%, 0% 100%);
}
.container .box1 .clip span:nth-child(3) {
  clip-path: polygon(60% 50%, 100% 0, 100% 100%, 50% 100%);
  transition-delay: 0.5s;
}
.container .box1:hover .clip span:nth-child(3) {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 50% 100%);
}

.container .box2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 420px;
  background: var(--crl);
  box-shadow: 0 0 0 15px #0009, 0 25px 55px var(--crl);
  z-index: 2;
  margin-top: -670px;

  background-image: url("sasuke.jpg");
  background-size: cover;
  background-position: center;
}
.container .box2 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box2 .info p {
  position: relative;
  color: #000000;
  font-size: 15px;
  text-align: center;
  line-height: 2.5em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  filter: blur(10px);
  font-family: Gloria Hallelujah;
  line-height: 4.9em;
}
.container .box2:hover .info p {
  transform: scale(1);
  transition-delay: 0.5s;
  filter: blur(0px);
}
.container .box2 .clip {
  position: absolute;
  inset: 20px;
  box-shadow: 0 0 0 18px #020d1e;
}
.container .box2 .clip span {
  position: absolute;
  inset: 0;
  background: #020d1e;
  transition: 0.25s;
}
.container .box2 .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 40%, 100% 0);
  transition-delay: 0s;
}
.container .box2:hover .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 100% 0);
}
.container .box2 .clip span:nth-child(2) {
  clip-path: polygon(0 0, 40% 50%, 50% 100%, 0% 100%);
  transition-delay: 0.25s;
}
.container .box2:hover .clip span:nth-child(2) {
  clip-path: polygon(0 0, 0 100%, 50% 100%, 0% 100%);
}
.container .box2 .clip span:nth-child(3) {
  clip-path: polygon(60% 50%, 100% 0, 100% 100%, 50% 100%);
  transition-delay: 0.5s;
}
.container .box2:hover .clip span:nth-child(3) {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 50% 100%);
}

.container .box3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 420px;
  background: var(--crl);
  box-shadow: 0 0 0 15px #0009, 0 25px 55px var(--crl);
  z-index: 2;
  margin-top: -670px;

  background-image: url("naruto2.jpg");
  background-size: cover;
  background-position: center;
}
.container .box3 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box3 .info p {
  position: relative;
  color: #000000;
  font-size: 15px;
  text-align: center;
  line-height: 2.5em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  filter: blur(10px);
  font-family: Gloria Hallelujah;
  line-height: 4.9em;
}
.container .box3:hover .info p {
  transform: scale(1);
  transition-delay: 0.5s;
  filter: blur(0px);
}
.container .box3 .clip {
  position: absolute;
  inset: 20px;
  box-shadow: 0 0 0 18px #020d1e;
}
.container .box3 .clip span {
  position: absolute;
  inset: 0;
  background: #020d1e;
  transition: 0.25s;
}
.container .box3 .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 40%, 100% 0);
  transition-delay: 0s;
}
.container .box3:hover .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 100% 0);
}
.container .box3 .clip span:nth-child(2) {
  clip-path: polygon(0 0, 40% 50%, 50% 100%, 0% 100%);
  transition-delay: 0.25s;
}
.container .box3:hover .clip span:nth-child(2) {
  clip-path: polygon(0 0, 0 100%, 50% 100%, 0% 100%);
}
.container .box3 .clip span:nth-child(3) {
  clip-path: polygon(60% 50%, 100% 0, 100% 100%, 50% 100%);
  transition-delay: 0.5s;
}
.container .box3:hover .clip span:nth-child(3) {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 50% 100%);
}

/* BUTTON */
.hidden {
  display: none;
}
.hide {
  animation: hidebttn 0.5s forwards;
}
@keyframes hidebttn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ANIMASI BACKGROUND AWAL */
.circle1 {
  position: absolute;
  bottom: 0;
  width: 20px;
  aspect-ratio: 1/1;
  background-color: #f00;
  box-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00, 0 0 50px #f00;
  border-radius: 50%;
  animation: bawah 5s linear forwards;
}
@keyframes bawah {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.circle1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 100vh;
  opacity: 0.5s;
  background: linear-gradient(#f00, transparent);
}
.circle2 {
  position: absolute;
  top: 0;
  width: 20px;
  aspect-ratio: 1/1;
  background-color: rgb(0, 255, 60);
  box-shadow: 0 0 10px rgb(0, 255, 60), 0 0 20px rgb(0, 255, 60),
    0 0 30px rgb(0, 255, 60), 0 0 50px rgb(0, 255, 60);
  border-radius: 50%;
  animation: atas 5s linear forwards;
}
@keyframes atas {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
.circle2::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 25%;
  width: 50%;
  height: 100vh;
  opacity: 0.5s;
  background: linear-gradient(transparent, rgb(0, 255, 60));
}
